#review {
    background-color: transparent;
    position: relative;
    .review-background-overlay {
        background-image: url('../../assets/card-shape-bg3.svg');
        background-position: top left;
        background-size: cover;
        opacity: 0.1;
        height: 100%;
        position: absolute;
        background-attachment: fixed;
        left: 0;right: 0;
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .review-shadow {
        position: absolute;
        width: 100%;
        transform: rotate(180deg);
        bottom: -1px;left: 0;
        .elementor-shape-fill {
            fill: #a57850;
            transform-origin: center;
            transform: rotateY(0deg);
        }
    }
    .review-body {
        display: flex;
        justify-content: space-between;
        padding: 10rem 0 20rem 0;
    }
    .review-body>div {
        width: 32%;
        aspect-ratio: 5/4;
        h5 {
            font-size: 5rem;
            color: #fff;
            font-weight: bold;
            display: block;
            span {
              color: var(--main-color);
              font-size: 2.3rem;
              text-transform: capitalize;
            }
        }
    }
    .review-body>div:nth-child(2), .review-body>div:nth-child(3) {
        background-color: var(--second-bg);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile {
            width: 38%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            padding: 1rem;
            overflow: hidden;
            background-color: var(--second-bg);
            margin-top: -18%;
            img {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .review-content {
            text-align: center;
            color: #fff;
            .review-star {
                margin: 2rem 0;
            }
            p {
                padding: 0 1rem;
                font-size: larger;
                text-transform: capitalize;
            }
        }
    }
}

@media (max-width: 767px) {
    .review-header>h5 {
        padding: 0 !important;
    }
    .review-body>div:first-child>h5 {
        font-size: 3rem !important;
        span {
            font-size: 1rem !important;
        }
    }
/* }


@media (max-width: 575px) { */
    .review-body {
        padding: 0 0 10rem 0 !important;
        flex-direction: column;
        align-items: center !important;
        div:first-child {
            text-align: center;
            aspect-ratio: 5/3 !important;
        }
    }
    .review-body>div {
        width: 60% !important;
    }
    .review-body>div:nth-child(2) {
        margin-bottom: 20%;
    }
}

