section#Menu {
    box-sizing: border-box;
    background-image: url('../../assets/menu_paral.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 8rem;
}

section#Menu>div.container{
    padding: 0;
    .menu-container {
        padding: 19rem 0 5rem;
        background-image: url('../../assets/menu-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100%;
        text-align: center;
        aspect-ratio: 1/1;
        ul {
            display: flex;
            padding: 1rem 0;
            justify-content: space-evenly;
            list-style: none;
            font-size: 1.4rem;
            max-width: 455px;
            margin: 0 auto;
            li {
                border-radius: .7rem;
                padding: .7rem 1.5rem;
                border-radius: var();
                user-select: none;
                cursor: pointer;
                font-weight: 900;
            }
            li.active, li:hover {
                border: 0.1rem dashed black;
            }
        }
        .menu {
            padding: 5rem 25rem;
            div {
                padding: 1rem 0;
                display: flex;
                align-items: center;
                img {
                    width: 10rem;
                    margin-left: -3rem;
                }
                div {
                    display: flex;
                    align-items: center;
                    flex-grow: 1 !important;
                    padding-left: 1rem;
                    p, span {
                        font-size: 1.9rem;
                        text-transform: capitalize;
                        margin: 0;
                    }
                    span {
                        color: var(--main-color);
                    }
                    div {
                        margin: 0 2rem;
                        padding: 0;
                        flex-grow: 1 !important;
                        height: 0px !important;
                        border-bottom: 1px dashed var(--black);
                    }
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .menu-container {
        background-position: top center !important;
        background-size: cover !important;
    }
}

@media (max-width: 991px) {
    .menu {
        padding: 3.5rem 8rem !important;
    }
}

@media (max-width: 575px) {
    #Menu .container {
        max-width: calc(100vw - 30px) !important;
    }
    .menu {
        padding: 3rem 5rem !important;
    }
}

@media (min-width: 1400px) {
    .menu>div {
        padding: 2rem 0 !important;
    }
}