.investorsCount {
    padding: 6rem 0;
    background: var(--second-bg);
}

.container.counter {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.counter>div {
    text-align: center;
    color: var(--text-coffee);
}

.counter>div>h2  {
    font-size: 38px;
    font-weight: 700;
}

.counter>div>span {
    font-size: 20px;
    opacity: 0.7;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .container.counter {
        h2 {
            font-size: 34px;
        }
        span {
            font-size: 15px;
        }
    }
}

@media (max-width: 546px) {
    .container.counter {
        flex-direction: column;
    }
}