.card1 {
    aspect-ratio: 7/5;
    padding: 1.5rem;
    position: relative;
    display: inline-block;
    width: 100%;
}

.card1 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.card1 div span {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 1200px) {
    .card1 {
        span {
            font-size: .8rem !important;
        }
    }
}



.card2 {
    display: inline-block;
    position: relative;
    >div {
        background-color: var(--text-coffee);
        border-radius: 6px !important;
        padding-bottom: 20px;
        .img {
            border-radius: 6px 6px 0 0;
            padding: 20px 20px 0 20px;
            transition: background-color 100ms ease 0s;
            img {
                border-radius: 6px 6px 0 0;
                width: 100%;
                aspect-ratio: 1/1;
            }
            &:hover {
                background-color: #fff;
            }
        }
        span.price {
            padding: 5px;
            font-size: 2rem;
            position: absolute;
            top: 30px;right: 30px;
            z-index: 1000;
            background-color: aquamarine;
            border-radius: 8px;
        }
        .content {
            color: #fff;
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2, button {
                margin: 0 !important;
                text-transform: capitalize !important;
            }
        }
        p {
            padding: 0 20px;
            margin: 0;
            font-size: 1.4rem;
            color: #ffffffc0;
            text-transform: capitalize !important;
        }
    }
}

.category-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    div {
        width: 100%;
        aspect-ratio: 1/1.1;
        background-position: center;
        background-size: contain;
        background-size: cover;
        border-radius: 20px;
    }
    h2 {
        color: var(--black);
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    p {
        font-size: 1.5rem;
        opacity: 0.6;
    }
    p.underline-btn {
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .card1, .card2 {
        width: 100% !important;
    }
}