.card1 {
    width: 33.333%;
    aspect-ratio: 7/6;
    padding: 1.5rem;
    position: relative;
    display: inline-block;
    &:hover img {
        transform: scale(1.1);
    }
}

.card1 a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card1 a img {
    width: 100%;
    height: 100%;
    top: 0;right: 0;
    position: relative;
    transition: all 0.2s ease;
}

.card1 a span {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-color);
    transform: translate(-50%, -50%);
}

.card1 a h4 {
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px var(--black);
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
    .card1 {
        h4 {
            font-size: 1.8rem !important;
        }
        span {
            font-size: .8rem !important;
        }
    }
}

@media (max-width: 768px) {
    .card1 {
        width: 100%;
    }
}