section#Menu {
    box-sizing: border-box;
    background-image: url('../../assets/menu_paral.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 8rem;
}

section#Menu>div.container{
    padding: 0;
}

@media (max-width: 575px) {
    #Menu .container {
        max-width: calc(100vw - 30px) !important;
    }
    .menu {
        padding: 3rem 5rem !important;
    }
}

@media (min-width: 1400px) {
    .menu>div {
        padding: 2rem 0 !important;
    }
}