.about {
    background-color: var(--black);
}

.about>.container {
    display: flex;
    padding: 12rem 0;
    justify-content: space-between;
}

.about .content {
    width: 60%;
} 

.about .image-slide-container {
    margin: auto 0;
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 2rem;
    overflow: hidden;
}

.about .content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .heading {
        text-align: start;
        margin: 2rem 0;
    }
}

.about .content p {
    font-size: 20px;
    color: var(--main-color);
    text-transform: capitalize;
}

.image-slide-container img {
    width: 100%;
}

@media (max-width: 768px) {
    .about .container {
        flex-direction: column;
        padding: 5rem 2rem;
        justify-content: center;
    }
    .about .content p {
        font-size: 16px;
    }
    .about .content {
        width: 100%;
    }
    .about .image-slide-container {
        width: 75%;
        margin: auto;
    }
}