.about {
    background-color: var(--black);
}

.about>.container {
    display: flex;
    padding: 12rem 0;
    justify-content: space-between;
}

.about .contant {
    width: 60%;
} 

.about .image-slide-container {
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 2rem;
    overflow: hidden;
}

.about .contant {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    .heading {
        text-align: start;
        margin: 0;
    }
}

.about .contant p {
    max-width: 550px;
    font-size: 20px;
    color: var(--main-color);
    text-transform: capitalize;
}

.about .contant .underline-btn {
    border-bottom: var(--border);
    border-color: var(--main-color);
    cursor: pointer;
    &&:hover {
        color: #fff;
        border-color: #fff;
    }
}

.image-slide-container img {
    width: 100%;
}

@media (max-width: 991px) {
    .about {
        flex-direction: column;
    }
    .about .contant, .about .image-slide-container {
        width: 100%;
    }
}