#contact {
    width: 100%;
    /* background-size: contain; */
    background-color: var(--second-bg);
    /* margin-top: 46px; */
    .contact-container {
        padding: 12rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.map {
    width: 50%;
    aspect-ratio: 4/3;
    filter: brightness(70%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    z-index: 0;
}
.contact-info {
    width: 35%;
    z-index: 100;
    .info-container {
        .info-head {
            /* align-items: center; */
            padding-bottom: 1rem;
        }
        width: 100%;
        background: #fff;
        padding: 3rem;
        margin-left: -6rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 991px) {
    .map {
        aspect-ratio: 1/1 !important;
    }
    .contact-container>.contact-info>.info-container {
        padding: 1.5rem;
    }
}

@media (max-width: 767px) {
    .contact-container {
        padding: 5rem 0 !important;
        flex-direction: column;
        .contact-info {
            width: 100% !important;
            /* .info-container {
                aspect-ratio: ;
            } */
        }
        .map {
            width: 100% !important;
            aspect-ratio: 5/3 !important;
            /* margin-bottom: 3.5rem; */
        }
        .info-container {
            margin: 0 !important;
        }
    }
}