.header {
    display: flex;
    align-items: center;
    --header-border-radius-value: 0px; /* Default value */
    border-radius: var(--header-border-radius-value);
    justify-content: space-between;
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 1600px;
    position: absolute;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    /* overflow-x: hidden; */
    overflow-y: visible;
}
  
/* .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
} */

.header .logo img {
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 0.1rem solid transparent;
    &:hover {
        color: var(--main-color);
        border-bottom: 0.1rem solid var(--main-color);
        padding-bottom: 0rem;
    }
}

.header .navbar .close-right-tap {
    display: none;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

.header .icons #menu-btn {
    display: none;
}
.header .cart-items-container {
    position: absolute;
    top: 0; right: -100%;
    height: 100vh;
    width: 35rem;
    background-color: #fff !important;
    padding: 0 1.5rem;
    transition: .38s linear;
    &.active-cart {
        right: 0;
    }
}

@media (max-width: 1200px) {
    /* .header {
        justify-content: end;
    } */
    /* .header .logo {
        left: 6rem;
        transform: translate(-15%, -50%);
    } */
}

@media (max-width: 768px) {
    .header {
        margin: 0;
        border-radius: 0 !important;
        padding: 2rem;
        /* background-color: none;
        backdrop-filter: none; */
    }

    .header .logo {
        /* position: absolute;
        left: 50%;right: 50%;
        transform: translate(-50%, -50%); */
    }

    .header .icons #menu-btn {
        z-index: 1000;
        display: inline-block;
    }
    
    .header .navbar {
        display: inline-block;
        position: absolute;
        top: 0; right: -100%;
        padding: 0 1.5rem;
        background-color: #fff !important;
        width: 30rem;
        height: 100vh;
        transition: .38s linear;
    }

    .header .navbar a {
        display: block;
        margin: 1.5rem .5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .header .navbar.active-nav {
        right: 0;
        .close-right-tap {
            display: inline-block;
        }
    }
}