section#Products {
    background-color: var(--black);
    padding-top: 15rem;
    padding-bottom: 10rem;
}

.product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 4rem;
}
  