section.footer {
    position: relative;
    svg {
        height: 110%;
        position: absolute;
        margin-top: -130%;
    }
}
.footer-bg{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--black);
    padding-top: 15rem;
    padding-bottom: 8rem;
    /* backdrop-filter: blur; */
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: var(--main-color);
        font-size: 45px;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
    .subscribe-input {
        display: flex;
        margin: 1rem 0;
        input {
            display: flex;
            border-radius: 7px 0 0 7px;
            padding-left: 2rem;
            font-size: 20px;
        }
        button {
            padding: 10px 15px;
            font-size: 23px;
            background: var(--main-color);
            border-radius: 0 7px 7px 0;
        }
    }
}

.contact {
    width: inherit;
    margin: 7rem 0;
    display: flex;
    justify-content: space-around;
    .vertical-divider {
        position: relative;
        border-left: 2px solid var(--main-color);
        opacity: 0.3;
        height: inherit;
        width: 2px;
    }
    .open-time, .location {
        img {
            width: 80px;
            aspect-ratio: 1/1;
        }
        display: flex;
        align-items: center;
        p {
            text-transform: capitalize;
            margin-left: 1.5rem;
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            &:hover {
                color: var(--main-color);
            }
            span {
                font-size: 17px;
                text-transform: capitalize;
            }
        }
    }
    .social {
        .fa-brands {
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            &:hover {
                color: var(--main-color);
            }
            padding: 0 0.5rem;
        }
        display: flex;
        min-width: 200px;
        justify-content: space-evenly;
        align-items: center;
    }
}

.copy-right {
    p {
        font-size: 16px;
        color: #fff;
        text-transform: capitalize;
    }
}