section.footer {
    position: relative;
    svg {
        height: 110%;
        position: absolute;
        margin-top: -130%;
    }
}
.footer-bg{
    width: 100%;
    /* aspect-ratio: 5/1.5; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--black);
    padding-top: 15rem;
    padding-bottom: 9rem;
}
.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: var(--main-color);
        font-size: 45px;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
    .subscribe-input {
        display: flex;
        margin: 1rem 0;
        input {
            display: flex;
            border-radius: 7px 0 0 7px;
            padding-left: 2rem;
            font-size: 20px;
        }
        button {
            padding: 10px 15px;
            font-size: 23px;
            background: var(--main-color);
            border-radius: 0 7px 7px 0;
        }
    }
}