.investment-section>.container {
    display: flex;
    padding: 12rem 0;
    justify-content: space-between;
    align-items: center;
}

.investment-section .content {
    width: 50%;
} 

.investment-section .coffee-img {
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 50% 50% 2rem 2rem;
    overflow: hidden;
}

.investment-section .content {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    .heading-black {
        text-align: start;
        margin: 2rem 0;
    }
}

.investment-section .content p {
    font-size: 20px;
    color: var(--black);
    opacity: 0.7;
    text-transform: capitalize;
}

.coffee-img img {
    width: 100%;
}

@media (max-width: 991px) {
    .investment-section .content p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .investment-section .container {
        flex-direction: column;
        padding: 5rem 2rem;
        gap: 4rem;
    }
    .investment-section .coffee-img {
        order: 2;
        width: 75%;
        margin: auto;
    }
    .investment-section .content p {
        font-size: 16px;
    }
    .investment-section .content {
        width: 100%;
    }
}