#categories {
    .container {
        padding: 12rem 0;
    }
    .categorie-container {
        display: flex;
        gap: 3%;
    }
}

@media (max-width: 768px) {
    .categorie-container {
        padding: 3rem;
        flex-direction: column;
        gap: 5rem !important;
    }
}