@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;300;400;500;700&display=swap');

/* :root {
  
} */

:root {
  --main-color: #a57750;
  --black: #13131a;
  --bg: #010103;
  --second-bg: #333333;
  --border: .1rem solid rgba(225, 225, 225, .3);
}

* {
  font-family: "Nunito", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: uppercase;
}

body {
  background: var(--bg);
}

.divider {
  width: 100%;
  border: var(--border);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

h5.section-head {
  font-size: 7rem;
  color: #fff;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 7rem 0;
  span {
    color: var(--main-color);
    font-size: 2.3rem !important;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 1.5rem 2rem;
  }
}



@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}