.story.container {
    margin: 12rem auto;
}
.story-paragraph {
    padding: 0 1.3rem;
    margin-bottom: 5rem;
    p {
        font-size: 19px;
        text-align: center;
        text-transform: capitalize;
    }
}
.card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    >div {
        width: 49%;
    }
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        gap: 20px;
    }
}